.dash{
    border-bottom: 0px solid black;
    padding-block: 2rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background: linear-gradient(245deg, #e0cc91, #fef500);
    box-shadow: 1px 1px 9px #e0cc91;
}

.content{
    --background: #f7f7f7;
}

.info{
    border: 0px solid black;
    margin-top: 2rem;
    text-align: center;
}

.name{
    font-size: 18px;
    font-weight: 600;
}

.work{
    color: #e0cc91;
    border: 0px solid;
    width: fit-content;
    margin: auto;
    padding-inline: 5px;
    font-size: 12px;
    letter-spacing: 2px;
    padding-block: 5px;
    margin-top: .5rem;
    border-radius: 1rem;
    color: black;
    background: rgba(255, 255, 255, 0.447);
}

.pick{
    margin: auto;
    width: 90%;
    border-radius: 2rem;
    margin-top: 2rem;
    background: white;
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
}

.sub{
    font-size: 12px;
    padding-bottom: 1rem;
}

.item{
    font-size: 1rem;
    text-align: center;
    padding-top: .8rem;
}

.recent{
    margin: auto;
    margin-top: 2rem;
    width: 90%;
}

.icon{
    border: 0px solid black;
    padding: 7px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #f7f7f7;
}