.page{
  background: url("/assets/helmet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  --overflow-y: hidden;
}

.videoContainer {
    position: relative;
    width: 100%;
    /* height: 100vh; Full viewport height */
    overflow: hidden;
    --background: none;
  }
  
  /* Video Styling */
  .videobg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the entire background */
    transform: translate(-50%, -50%);
    z-index: -1; /* Sends the video behind content */
  }

  .action{
    border: 0px solid black;
    text-align: center;
    width: 50%;
  }

  .logo{
    margin: auto;
    width: 20%;
    border: 0px solid white;
    padding-top: 4rem;
    opacity: 0; /* Initially hidden */
    transform: scale(0.8); /* Slightly scaled down */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    pointer-events: none; /* Prevent interactions when hidden */
  }

  .logo.showLogo {
    opacity: 1; /* Fully visible */
    transform: scale(1); /* Normal size */
    pointer-events: all;
  }

  .glass {
    height: 100vh;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent white */
 /* Smooth corners */
    backdrop-filter: blur(4px) saturate(180%); /*Soft blur and color enhancement */
    -webkit-backdrop-filter: blur(15px) saturate(180%); /* Support for Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /*Subtle shadow for depth */
 /*   border: 1px solid rgba(255, 255, 255, 0.3);/* Light border for contrast */
    text-align: center;
     transition: all 0.3s ease-in-out;
    }

  .partialModal {
    height: 75vh; /* Adjust the height as needed */
    margin-top: auto; /* Positions modal at the bottom */
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem; /* Rounded top corners for better visual appeal */
    overflow-y: auto; /* Enable scroll for long content */ 
    --background:rgb(197, 197, 197);
    margin-bottom: -1rem;
    bottom: 0;/* Padding for content inside */
    align-content: center;
  }

  .or{
    text-align: center;
    padding-block: 1rem;
    color: rgb(74, 74, 74);
  }

  .tag{
    border: 0px solid;
    bottom: 20px;
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(142, 142, 142);
  }

  .modalCont{
    border: 0px solid black;
    margin-top: 4rem;
  }

.enter{
  border: 1px solid white;
  padding-block: 20px;
  width: 85%;
  border-radius: 1rem;
  font-size: 18px;
  font-weight: 700;
}

  .write{
    border: 0px solid white;
    position: absolute;
    bottom: 0;
    height: 30vh;
    background: linear-gradient(transparent, rgb(104, 103, 103));
  }

  .writeup{
    font-size: 35px;
    font-weight: bold; 
    color: white;
    margin-top: auto;
    padding-inline: 10px;
    text-align: left;
  }

  .butCov{
    margin: auto;
    text-align: center;
    border: 0px solid white;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .but{
    width: 60%;
    margin: auto;
    padding-block: 10px;
    font-size: 19px;
    border-radius: .5rem;
    color: white;
    background: linear-gradient(270deg, #18c729, #fef500);
    box-shadow: 1px 1px 3px #fef60062;
  }



  @media (max-height: 750px){
    .write{
      border: 0px solid white;
      position: absolute;
      bottom: 0;
      height: 30vh;
      background: linear-gradient(transparent, black);
    }
  
    .writeup{
      font-size: 35px;
      font-weight: bold; 
      color: white;
      border: 0px solid white;
      padding-inline: 10px;
    }
  
    .butCov{
      margin: auto;
      text-align: center;
      border-radius: 0px solid white;
      position: absolute;
      bottom: 0;
      margin-bottom: 2rem;
      width: 100%;
    }
  
    .but{
      width: 60%;
      margin: auto;
      padding: 9px;
      font-size: 19px;

      color: white;
      background: linear-gradient(270deg, #18c729, #fef500);
    }
  
    
  }


  @media (max-width: 400px){
    .writeup{
      font-size: 30px;
      font-weight: bold; 
      color: white;
      border: 0px solid white;
      padding-inline: 10px;
    }
  
  }



  /*****************MODAL STYLE *********************/

  .head{
    border: 0px solid;
    text-align: center;
    padding-top: 1rem;
  }
  

  .smallHead{
    font-size: 13px;
    letter-spacing: -1px;
  }

  .bigHead{
    font-size: 50px;
    font-weight: 800;
  }

  .iconCont{
    width: 12%;
    text-align: center;
    border: 0px solid black;
  }

  .icon{
    font-size: 20px;
    font-weight: bolder;
  }

  .input{
    border: 0px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background: rgb(230, 230, 230);
    margin-top: 1.2rem;
    padding-block: .4rem;
    border-radius: 1rem;
    text-align: center;
  }

  .passDetails{
    width: 90%;
    background: transparent;
    border: none;
    margin-right: auto;
    outline: none;
  }

  .details{
    width: 85%;
    background: transparent;
    border: none;
    margin-right: auto;
    outline: none;
  }

  .passCont{
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    width: 85%;
  }


  .details:-webkit-autofill {
    background-color: rgb(230, 230, 230) !important;
  }
  

  .forgot{
    border: 0px solid;
    width: 90%;
    margin: auto;
    font-size: 13px;
    text-align: right;
    margin-top: 6px;
  }

  .loginCont{
    border: 0px solid;
    text-align: center;
    margin-top: 1rem;
  }

  .login{
    width: 80%;
    padding: 10px;
    border-radius: 1rem;
    font-size: 18px;
    background: linear-gradient(270deg, #18c729, #fef500);
  }

  .cap{
    border: 0px solid;
    text-align: center;
    margin-top: 1rem;
    font-size: 13px;
    color: rgb(157, 155, 155);
  }

  .butCont{
    border: 0px solid;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }

  .button{
    width: 40%;
  }

  .google{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: .4px solid grey;
    color: grey;
    padding: .3rem;
    border-radius: 1.5rem;
  }
  
  .svg{
    width: 25%;
    padding-right: 3px;
  }


  .not{
    border: 0px solid;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 14px;
  }


  .name{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  .inputs{
    border: 0px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    margin: auto;
    background: rgb(230, 230, 230);
    margin-top: 1.2rem;
    padding-block: .6rem;
    border-radius: 1rem;
    text-align: center;
  }





  /* remove auto fill */

  /* Target autofill background for Webkit-based browsers (Chrome, Edge, Safari) */
.details:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important; /* Text color */
  transition: background-color 5000s ease-in-out 0s;
}

/* Reset for Firefox */
.details:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  -moz-box-shadow: 0 0 0px 1000px white inset !important;
  color: #000 !important; /* Text color */
}

/* Style for all browsers */

