
.table{
    border: 1px solid;
    border-color: var(--ion-job);
}

.segment{
    background: var(--ion-menu-head);
    width: 95%;
    margin: auto;
}

.seg{
    border: 0px solid black;
    margin-top: .5rem;
}