.notificationList {
    padding: 1px;
    border: 0px solid black;
  }
  
  .header{
    border: none;
    box-shadow: none;
}

.head{
    border: 0px solid ;
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    font-size: 30px;
    font-weight: 800;
}

  .notificationItem {
    margin: auto;
    margin-bottom: 15px;
    list-style: none;
    border: 0px solid black;
    width: 90%;
    padding: 5px;
    border-radius: 7px;
    background: #666666b0;
  }

  .ul{
    border: 0px solid black;
    padding: 0;
  }

  .content{
    font-family: "Quicksand";
  }
  
  .notificationTitle {
    font-weight: bold;
    background: none;
    border: 0px solid black;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: var(--ion-company-primary);
  }
  
  .notificationTitle:hover {
    text-decoration: underline;
  }
  
  .notificationDetails {
    margin-top: 10px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    color: #333;
  }
  
  .notificationDetails p {
    margin: 0;
  }
  
  .notificationDetails small {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
  }
  