.iconCont{
    width: 12%;
    text-align: center;
    border: 0px solid black;
  }

  .icon{
    font-size: 20px;
    font-weight: bolder;
  }

  .input{
    border: 0px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background: rgb(230, 230, 230);
    margin-top: 2rem;
    padding-block: .8rem;
    border-radius: 1.5rem;
    text-align: center;
  }

  .passDetails{
    width: 90%;
    background: transparent;
    border: none;
    margin-right: auto;
    outline: none;
  }


  .passCont{
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    width: 85%;
  }


  .details:-webkit-autofill {
    background-color: rgb(230, 230, 230) !important;
  }
 

  .head{
    border: 0px solid black;
    width: 90%;
    margin: auto;
    margin-top: 5rem;
  }

  .bigHead{
    font-size: 30px;
    font-weight: 600;
  }

  .smallHead{
    font-size: 14px;
    font-weight: 400;
  }

  .cont{
    margin-top: 1rem;
  }

  .butCont{
    border: 0px solid black;
    margin-top: 4rem;
    text-align: center;
  }

  .but{
    width: 90%;
    padding-block: .8rem;
    border-radius: 2rem;
    font-size: 22px;
    background: linear-gradient(270deg, #18c729, #fef500);
  }