.head{
    border: 0px solid black;
    padding-block: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
}



.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background: rgba(47, 125, 50, 0.17);
    border: 0px solid;
    margin-top: 1rem;
    width: 95%;
    padding: 12px;
    border-radius: 8px;
}


.image{
    border: 0px solid;
}

.identity{
    border: 0px solid;
}

.name{
    font-weight: 580;
}

.badge{
    font-size: 15px;
    margin-top: .4rem;
}

.chevron{
    font-size: 2.3rem;
    border: 0px solid black;
    height: fit-content;
    color: grey;
    border: 0px solid;
}

.sets{
    margin: auto;
    border: 0px solid black;
    margin-top: 3rem;
    width: 95%;
    background: rgba(47, 125, 50, 0.17);
    border-radius: 8px;
    padding-block: 10px;
}

.setBelow{
    margin: auto;
    border: 0px solid black;
    margin-top: 1rem;
    width: 95%;
    background: rgba(47, 125, 50, 0.17);
    border-radius: 5px;
}


.setName{
    font-size: 16px;
    margin-left: 1rem;
    border: 0px solid;
    width: 100%;
}

.demo{
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --background: transparent;
    margin: auto;
    width: 95%;
    padding-block: 13px;
}

.demoIn{
    display: flex;
    border: 0px solid;
    justify-content:start;
    align-items: center;
    width: 95%;
}

.enter{
    margin-left: auto;
    border: 0px solid;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: right;
}


.icon{
    font-size: 1.rem;
}


.cont{
    border: 0px solid black;
    position: relative;
}

.signOut{
    border: 0px solid;
    font-size: 16px;
    text-align: center;
    width: 100%;
}