.head{
    border: 0px solid black;
    padding-block: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background: rgba(235, 235, 235, 0.792);
    border: 0px solid;
    margin-top: 1rem;
    width: 90%;
    padding: 12px;
    border-radius: 1rem;
}


.image{
    border: 0px solid;
}

.identity{
    border: 0px solid;
}

.name{
    font-weight: 580;
}

.badge{
    font-size: 15px;
    margin-top: .4rem;
}

.chevron{
    font-size: 2.3rem;
    border: 0px solid black;
    height: fit-content;
    color: grey;
}

.sets{
    margin: auto;
    border: 0px solid black;
    margin-top: 3rem;
    padding-block: 10px;
    width: 90%;
    background: rgba(235, 235, 235, 0.792);
    border-radius: 1rem;
}

.setName{
    font-size: 1.1rem;
    margin-left: 1rem;
}

.demo{
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    --background: transparent;
    margin: 0px 12px 12px;
}

.demoIn{
    display: flex;
    border: 0px solid;
    justify-content:start;
    align-items: center;
    width: 80%;
}

.enter{
    margin-left: auto;
}

.signOut{
    border: 0px solid ;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.icon{
    font-size: 1.6rem;
}

.foot{
    text-align: center;
    border: 0px solid;
    color: rgb(213, 210, 210);
}