.content{
    font-family: "Quicksand";
}

.item{
    border: 0px solid black;
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-block: 9px;
    background: rgba(47, 125, 50, 0.17);
}

.iconCont{
    width: 25px;
    height: 25px;
    padding: 2px;
    padding-right: 4px;
    margin-left: 4px;
}