.proCont{
    border: 9px solid #e0cc91;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: auto;
    background-image: url("/assets/goldplace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image{
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}