.slidingCard {
    position: relative;
  }
  
  .swipeOverlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.8;
    pointer-events: none; /* Prevent it from interfering with swipe actions */
  }
  

  .cardCont{
    border: 1px solid black;
    height: 30vh;
  }

  