.proCont{
    border: 5px solid #e0cc91;
    border-radius: 50%;
    margin: auto;
    width: 60px;
    height: 60px;
    background-image: url("/assets/goldplace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.image{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.emptyImage{
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
