/* Correct way to import Slick Carousel styles in Vite */
@import 'node_modules/slick-carousel/slick/slick.css';
@import 'node_modules/slick-carousel/slick/slick-theme.css';

/* Default dot style */
.slick-dots li button::before {
    color: #83838378; /* Default dot color */
    font-size: 10px; /* Default size */
    opacity: 1; /* Ensure full visibility */
    transition: all 0.3s ease; /* Smooth transition for all properties */
  }
  
  /* Active dot style */
  .slick-dots li.slick-active button::before {
    color: #cac301c0; /* Active dot color */
    font-size: 9px; /* Active size */
  }
  
  body{
    background-color: white;
  }

  .tour-button {
    background-color: #007aff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* React Tour specific styles */
.react-tour .ReactTour__overlay {
  z-index: 9999 !important;
}

.react-tour .ReactTour__content {
  z-index: 10000 !important;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-tour .ReactTour__step {
  position: relative;
  z-index: 10001;
}

/* Ensure that the targeted elements are visible */
.earning, .request, .jobs {
  position: relative;
  z-index: 1000; /* Make sure the elements are visible on top */
}

.page{
  font-family: "Quicksand";
}