/* Correct way to import Slick Carousel styles in Vite */

/* Default dot style */
.slick-dots li button::before {
    color: #83838378; /* Default dot color */
    font-size: 10px; /* Default size */
    opacity: 1; /* Ensure full visibility */
    transition: all 0.3s ease; /* Smooth transition for all properties */
  }
  
  #tawkchat-container {
    display: none !important;
    border: 1px solid black;
  }
  
  
  #tawk-prechat-form-container {
    bottom: 80px !important;
  }
  

  /* Active dot style */
  .slick-dots li.slick-active button::before {
    color: #cac301c0; /* Active dot color */
    font-size: 9px; /* Active size */
  }
  
  body{
    background-color: white;
  }

  .tour-button {
    background-color: #007aff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


/* React Tour specific styles */
.react-tour .ReactTour__overlay {
  z-index: 9999 !important;
}

.react-tour .ReactTour__content {
  z-index: 10000 !important;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.react-tour .ReactTour__step {
  position: relative;
  z-index: 10001;
}

/* Ensure that the targeted elements are visible */
.earning, .request, .jobs {
  position: relative;
  z-index: 1000; /* Make sure the elements are visible on top */
}

.page{
  font-family: "Quicksand";
}

/* Shepherd Tour Custom Styles */
.shepherd-element {
  /* background: rgba(255, 255, 255, 0.95) !important; */
  border-radius: 10px !important;
  padding: 15px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.shepherd-title {
  font-size: 20px !important;
  font-weight: bold !important;
  color: var(--ion-company-wood) !important;
  
}

.shepherd-text {
  font-size: 16px !important;
  color: #333 !important;
}

.shepherd-button {
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 8px 12px !important;
  border-radius: 5px !important;
}

.shepherd-button:last-child {
  background-color: var(--ion-company-wood) !important;
  color: white !important;
  border: none !important;
}

.shepherd-button:not(:last-child) {
  background-color: transparent !important;
  color: var(--ion-company-wood) !important;
  border: 1px solid var(--ion-color-primary) !important;
}
